@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500;700&display=swap');


button{
    width: 200px;
    height: 35px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    margin-top: 150px;
}

h3{
    flex-direction: column;
    margin: 25px;
}